{% extends 'base/base.njk' %}

{%- block extrahead %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
{%- endblock %}

{%- block contents %}
<article>
    <h2>{% block title %}???{% endblock %}</h2>

    <aside class="references">
        {% if defines | length %}
        <div>
            <p>Defines:</p>
            <ul>
            {%- for c in defines %}
            <li><a href="{{ c.permalink | url }}">{{ c.name }}</a></li>
            {%- endfor %}
            </ul>
        </div>
        {% endif %}
        {% if itemRefs | length %}
        <div>
            <p>Item references:</p>
            <ul>
            {%- for c in itemRefs %}
            <li><a href="{{ c.permalink | url }}">{{ c.name }}</a></li>
            {%- endfor %}
            </ul>
        </div>
        {% endif %}
        {% if conceptRefs | length %}
        <div>
            <p>Concept references:</p>
            <ul>
            {%- for c in conceptRefs %}
            <li><a href="{{ c.permalink | url }}">{{ c.name }}</a></li>
            {%- endfor %}
            </ul>
        </div>
        {% endif %}
        {% if keywords | length %}
        <div>
            <p>Keywords:</p>
            <ul>
            {%- for kw in keywords %}
            <li>{{ kw }}</li>
            {%- endfor %}
            </ul>
        </div>
        {% endif %}
    </aside>

    <div class="item">
    {{ contents | safe }}
    </div>

    <aside class="validations">
        <p>Created at {{ created | formatDate }}</p>
        {% if validations | length %}
        <p>Validations:</p>
        <ul>
        {%- for v in validations %}
        <li><a href="{{ v.source.permalink | url }}">{{ v.source.extra.author }}, {{ v.source.title }}</a>, {{ v.location }}</li>
        {%- endfor %}
        </ul>
        {% endif %}
    </aside>
</article>

{%- endblock %}