{% extends 'base/base.njk' %}

{% block pagetitle %}Media{% endblock %}

{%- block contents %}
<main>
    <h2>Media</h2>
    <ul>
    {%- for i in items %}
    <li>
        <a href="{{ i.permalink | url }}">{{ i.name }}</a><br>
        {{ i.description }}
    </li>
    {%- endfor %}
    </ul>
</main>
{%- endblock %}
