{% extends 'base/base.njk' %}

{% block pagetitle %}{{ name }}{% endblock %}

{%- block contents %}
<main>
    <h2>{{ name }}</h2>
    <h3>{{ description }}</h3>
    <img src="{{ path | url }}">
</main>
{%- endblock %}
