{% extends 'base/base.njk' %}

{%- block contents %}
<main>
    <h2>Source {{ name }}</h2>
    Title: {{ title }}<br>
    {% if extra.author %}Author: {{ extra.author }}<br>{% endif %}
    {% if extra.publisher %}Publisher: {{ extra.publisher }}<br>{% endif %}
    {% if extra.year %}Year: {{ extra.year }}<br>{% endif %}
</main>
{%- endblock %}
