<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
    <body>
        <header>
            <h1>{{ title | safe }}</h1>
        </header>
        <main>
            {{ contents | safe }}
        </main>
    </body>
</html>