{% extends 'base.njk' %}

{%- block contents %}
<main>
    <h2>{{ title }}</h2>
    <ul>
    {%- for i in items %}
    {%- set defines = i.id | itemDefines -%}
    <li>
        <a href="{{ i.permalink|url }}">{{ i.id }}</a><br>
        {%- if defines | length %}
        {%- for c in defines %}
        <span>{{ c.id }}</span>
        {%- endfor %}<br>
        {%- endif %}
        Created at {{ i.created | formatDate }}
    </li>
    {%- endfor %}
    </ul>
</main>
{%- endblock %}
