{% extends 'base.njk' %}

{%- block contents %}
            <ul>
            {%- for i in items %}
            <li><a href="{{ i.permalink }}">{{ i.id }}</a></li>
            {%- endfor %}
            </ul>
{%- endblock %}
