{% extends 'base.njk' %}

{%- block extrahead %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css">
{%- endblock %}

{%- block extraheader %}
            {% if item.defines %}
            <div>
                <p>Defines:</p>
                <ul>
                {%- for c in item.defines %}
                <li><a href="{{ c.permalink }}">{{ c.title }}</a></li>
                {%- endfor %}
                </ul>
            </div>
            {% endif %}
            {% if item.itemRefs %}
            <div>
                <p>Item references:</p>
                <ul>
                {%- for c in item.itemRefs %}
                <li><a href="{{ c.permalink }}">{{ c.item.name }}</a></li>
                {%- endfor %}
                </ul>
            </div>
            {% endif %}
            {% if item.conceptRefs %}
            <div>
                <p>Concept references:</p>
                <ul>
                {%- for c in item.conceptRefs %}
                <li><a href="{{ c.permalink }}">{{ c.title }}</a></li>
                {%- endfor %}
                </ul>
            </div>
            {% endif %}
{%- endblock %}
