{% extends 'base/base.njk' %}

{% block pagetitle %}Home{% endblock %}

{%- block contents %}
<main>
    <p><a href="/definition/">Definitions</a></p>
    <p><a href="/theorem/">Theorems</a></p>
    <p><a href="/proof/">Proofs</a></p>
    <p><a href="/concept/">Concepts</a></p>
    <p><a href="/media/">Media</a></p>
    <p><a href="/source/">Sources</a></p>
</main>
{% endblock -%}
