{% extends 'base.njk' %}

{%- block contents %}
<main>
    <p><a href="/definition/">Definitions</a></p>
    <p><a href="/theorem/">Theorems</a></p>
    <p><a href="/proof/">Proofs</a></p>
</main
{% endblock -%}
