{% extends 'base.njk' %}

{%- block contents %}
<main>
    <h2>Source <small>{{ data.id }}</small></h2>
    {% if data.author %}Author: {{ data.author }}<br>{% endif %}
    {% if data.title %}Title: {{ data.title }}<br>{% endif %}
    {% if data.publisher %}Publisher: {{ data.publisher }}<br>{% endif %}
    {% if data.year %}Year: {{ data.year }}<br>{% endif %}
</main>
{%- endblock %}
