@fg-color: #333;
@frame-color: #bbb;

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  line-height: 1.43;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: @fg-color;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

header,
main,
article {
  display: block;
  margin: 0 auto;
  width: 60rem;
  max-width: 100%;
}

aside,
div.item {
  border: 2px solid @frame-color;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 6px;
}

aside.references {
  p,
  ul,
  li {
    display: inline-block;
  }
  ul {
    padding: 0;
  }
}

aside.validations {
  & > p {
    margin-bottom: 4px;
  }
  & > ul {
    margin-top: 4px;
  }
}
