@fg-color: #333;
@frame-color: #ddd;

html {
  line-height: 1.43;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: @fg-color;
  background-color: #fff;
  margin: 0;
}

header,
main,
aside {
  display: block;
  margin: 0 auto;
  width: 60rem;
  max-width: 100%;
}

aside,
main {
    margin-top: 6px;
    margin-bottom: 6px;  
}

article,
aside {
  border: 2px solid @frame-color;
  padding: 6px;
  border-radius: 0.2em;
}

article {
    margin-left: -8px;
    margin-right: -8px;
}

aside.references {
  p,
  ul,
  li {
    display: inline;
  }
  ul {
    padding: 0;
  }
}
